@mixin card--position($position, $top, $left, $right) {
    position: $position;
    top: $top;
    right: $right;
    left: $left;
}

.card-container {
    height: 140vh;
    margin: 0;
    background-color: whitesmoke;
    position: relative;
}

#text {
    box-sizing: border-box;
    position: absolute;
    top: 79.9px;
    left: 390px;
    text-transform: uppercase;
    color: rgba(14, 25, 25, 0.87);
    width: 232px;
    height: 114px;
    text-align: left;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#know-more {
    box-sizing: border-box;
    position: absolute;
    top: 143px;
    left: 421px;
    text-transform: uppercase;
    color: rgba(14, 25, 25, 0.87);
    background-color: #FFBEBC;
    height: 20px;
    width: 91px;
    margin: 0;
    text-align: center;
}

#know-more a{
    text-decoration: none;
    color: rgba(14, 25, 25, 0.87);
}

.img-container {
    box-sizing: border-box;
    padding: 15px 13px 15px 13px;
    background-color: white;
    box-shadow: 3px 4px 30px 5px rgba(0,0,0,0.1);
}

.restaurant-image {
    background-image: url('../styles/images/piotr-szulawski-DCmUhk54F6M-unsplash.jpg');
    width: 220px;
    height: 177px;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
}

#img-1 {
    position: absolute;
    top: 150.1px;
    right: 420px;
}

#img-2 {
    position: absolute;
    top: 600.1px;
    right: 175px;
}

#img-3 {
    position: absolute;
    top: 375px;
    left: 330px;
}

.text-container {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 150px;
    right: 185px;
    width: 220px;
    height: 205px;
    background-color: white;
    box-shadow: 3px 4px 30px 5px rgba(0,0,0,0.1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#text-1 {
    @include card--position(absolute, 150px, $left, 185px);
}

#text-2 {
    @include card--position(absolute, 600.1px, $left, 440px);
}

#text-3 {
    @include card--position(absolute, 375px, 95px, $right);
}

#text-4 {
    box-sizing: border-box;
    @include card--position(absolute, 180px, 375px, $right);
    font-weight: bold;
}

#text-5 {
    box-sizing: border-box;
    @include card--position(absolute, 630px, 147px, $right);
}

.top-text {
    padding-left: 12px;
    font-weight: bold;
}

.text-content {
    height: 150px;
    width: 190px;
    padding-left: 12px;
    text-align: left;
    font-size: 15px;
    margin-left: 0;
}