@mixin position--item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    margin: 0;
    background-color: whitesmoke;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    text-align: center;
    margin-top: 0;
}

.menu h1 {
    margin-top: 0%;
    padding-top: 100px;
    font-weight: 500;
    font-size: 5em;
    text-transform: uppercase;
    color: rgba(14, 25, 25, 0.87);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu h3 {
    top: -55px;
    left: 570px;
    position: relative;
    margin: 0;
    background-color: #FFBEBC;
    width: 110px;
    height: 25px;
}

.menu-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
    position: relative;
}

.menu-item {
    box-sizing: border-box;
    padding: 0 10px 0 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    opacity: 0.8;
    color: rgb(14, 25, 25);
    margin: 0;
    border-left: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dish-item {
    @include position--item;
}

.description-item {
    text-align:justify;
}

.price-type-item {
    @include position--item;
    border: 2px solid #FFBEBC;
}