.container-menu {
    background-color: rgb(127, 127, 140);
    margin-left: 5px;
    columns: 4 auto;
    height: 100vh;
    
    /*display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;*/
}

.menu {
    padding-left: 5px;
    
}

.menu-item {
    background-color: whitesmoke;
    
}