* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #FFBEBC;
    color: #333333;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding: 0 1rem;
    top: 23px;
    left: 35px;
    width: 1263px;
    height: 28px;
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: bold;
}

.site-title {
    margin-right: auto;
    font-size: 120%;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.our-menu {
    padding-right: 666px !important;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
} 
